.zoom-in-modal {
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 320px;
    background-color: rgba(1, 1, 1, 0.97);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        color: whitesmoke;
        background-color: none;
        width: 100%;

        p {
            margin: 0;
            font-size: 28px;
            font-weight: 300;

            @media (max-width: 500px) {
                font-size: 18px;
            }
        }
    }

    .layout {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .box {
            background-color: #ad8762;
            opacity: 1;
        }
    }
}

.navigation-btn {
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    border-radius: 50%;
    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    z-index: 1;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    &.exit {
        top: 60px;
        right: 60px;
    }

    &.next {
        top: 48%;
        right: 50px;
        padding-left: 4px;
    }

    &.prev {
        top: 48%;
        left: 50px;
        padding-right: 4px;
    }
}

.zoom-in-bullets {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    .bullets {
        padding: 5px;
        border-radius: 7px;
        background-color: rgba(1, 1, 1, 0.5);
        display: flex;

        .bullet {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 5px 7px;
            border: 1px solid gray;
            box-shadow: 0 1px 0 lighten(black, 10%);
            background-color: transparent;
            transition: background 0.2s ease-out;

            &:hover:not(.active) {
                cursor: pointer;
                background: grey;
                transform: scale(1.1);
            }

            &.active {
                background: whitesmoke;
                border-color: whitesmoke;
                transform: scale(1.1);
            }
        }
    }
}
