.create-order-grid {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    margin: 30px 0;
    grid-template:
        "id boxes"
        "items boxes"
        "items orders";
    grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
    grid-template-rows:
        50px
        minmax(min-content, 250px)
        minmax(min-content, 290px);
    justify-content: center;

    @media only screen and (max-width: 630px) {
        grid-template: "id" "items" "boxes" "orders";
        grid-template-columns: minmax(300px, 400px);
        grid-template-rows:
            50px minmax(min-content, 400px)
            minmax(min-content, 200px)
            minmax(min-content, 290px);
    }
}

.create-order-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.create-order-id {
    grid-area: id;
    display: flex;
    justify-content: space-between;

    .order-id {
        width: 67%;
    }

    .order-btn {
        width: 30%;
    }
}

.create-order-header {
    height: 47px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 5pt 5pt 0 0;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
    }

    .header-title {
        width: 200px;
        font-size: 24px;
        font-weight: 300;
        color: #343a40;

        span {
            padding-left: 10px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            font-size: 20px;
        }
    }

    .opt-btn {
        width: 100px;
        position: relative;

        button {
            float: right;
            position: absolute;
            right: 15px;
        }
    }
}

.create-order-items {
    grid-area: items;
    border-radius: 5pt;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 0px 2px 1px #80808030;

    display: flex;
    flex-direction: column;

    .empty-items {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-color {
        color: orange;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .item {
        height: 80px;
        border-bottom: 1px solid #f1f1f1;
        display: flex;
        justify-content: space-around;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img {
            width: 100px;

            img {
                object-fit: contain;
                max-width: 100%;
                max-height: 80%;
                width: auto;
                height: auto;
            }
        }

        .dimensions {
            width: 60px;
            display: flex;
            flex-direction: column;

            div:first-child {
                font-size: 12px;
            }

            div:nth-child(2) {
                font-size: 18px;
                font-weight: bold;
                color: #3f4964;
            }
        }

        .remove-btn {
            width: 70px;

            button {
                border: none;
                padding: 2px 5px;
                border-radius: 5pt;
            }
        }
    }

    .add-item {
        height: 170px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #f5f5f5;
        border-bottom: 1px solid #dbdbdb;

        .input-fields {
            display: flex;
            justify-content: space-between;

            > div {
                flex: 0 1 47%;
            }

            .text-field {
                width: 58px;
            }
        }

        .control-btns {
            display: flex;
            justify-content: center;

            button {
                margin: 0 5px;
                width: 65px;
                border-radius: 5pt;
            }
        }
    }
}

.create-order-boxes {
    grid-area: boxes;
    border-radius: 5pt;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 0px 2px 1px #80808030;

    display: flex;
    flex-direction: column;

    .icon-color {
        color: #ad8762;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }

    .empty-boxes {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box {
        height: 60px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f1f1f1;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .indicator {
            width: 10px;
        }

        .name {
            width: 100px;
            overflow: hidden;
            font-size: 20px;
        }

        .dimensions {
            width: 65px;
            display: flex;
            flex-direction: column;

            div:first-child {
                font-size: 12px;
            }

            div:nth-child(2) {
                font-size: 18px;
                font-weight: bold;
                color: #3f4964;
            }
        }

        .remove-btn {
            width: 70px;
            margin-right: 15px;

            button {
                border: none;
                padding: 2px 5px;
                border-radius: 5pt;
            }
        }
    }

    .add-box {
        height: 150px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #f5f5f5;
        border-bottom: 1px solid #dbdbdb;

        .input-fields {
            display: flex;
            justify-content: space-between;

            > div {
                flex: 0 1 47%;
            }

            .text-field {
                width: 58px;
            }
        }

        .control-btns {
            display: flex;
            justify-content: center;

            button {
                margin: 0 5px;
                width: 65px;
                border-radius: 5pt;
            }
        }
    }
}

.create-order-recent-orders {
    grid-area: orders;
    border-radius: 5pt;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 0px 2px 1px #80808030;
    display: flex;
    flex-direction: column;

    .icon-color {
        color: green;
    }

    .empty-orders {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 100;
    }

    .orders {
        display: flex;
        flex-flow: row wrap;

        .recent-order {
            height: 80px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .id {
                font-size: 22px;
                height: 35%;
                color: #3f4964;
            }

            .date {
                color: grey;
                height: 30%;
                font-size: 15px;
                font-weight: 300;
            }
        }
    }
}
