.create-order-grid {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    margin: 30px 0;
    grid-template:
        "id boxes"
        "items boxes"
        "items orders";
    grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
    grid-template-rows:
        50px
        minmax(min-content, 229px)
        minmax(min-content, 290px);
    justify-content: center;

    @media only screen and (max-width: 630px) {
        grid-template: "id" "items" "boxes" "orders";
        grid-template-columns: minmax(300px, 400px);
        grid-template-rows:
            50px minmax(min-content, 400px)
            minmax(min-content, 200px)
            minmax(min-content, 290px);
    }
}
