.navbar-header {
    color: white;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 3px;
}

.navbar-header:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
